:root {
  --primary-text-color: #434455;
  --second-text-color: #ffffff;
  --title-text-color: #2e2f42;
  --hero-title-text-color: #ffffff;
  --background-primary-color: #ffffff;
  --hero-background: #2e2f42;
  --second-background-color: #f4f4fd;
  --Primary-Brand: #4d5ae5;
  --Pressed-State: #404bbf;
  --Footer-text-color: #e7e9fc;
  --Hero-bg-color: rgb(46, 47, 66, 0.7);
  --Sabtle-Text: #8e8f99;
  --Success: #31d0aa;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-primary-color);
  color: var(--primary-text-color);
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ______HEADER______ */

.top-line {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--Footer-text-color);
}

.site-nav {
  display: flex;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo-color {
  color: var(--Pressed-State);
}

.site-nav-list {
  display: flex;
  margin-left: 70px;
}

.site-nav-list .list-item:not(:last-child) {
  margin-right: 24px;
}

.site-nav-list .link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--Pressed-State);
}

.site-nav .link.current {
  color: var(--Pressed-State);
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.address-list .list-item:not(:last-child) {
  margin-right: 24px;
}

.address .link {
  font-family: "Roboto";
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address .link:hover,
.address .link:focus {
  color: var(--Pressed-State);
}

/* ______HERO______ */

.hero {
  background-color: var(--hero-background);
  background-image: linear-gradient(
      to right,
      var(--Hero-bg-color),
      var(--Hero-bg-color)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero.container {
  max-width: 1440px;
}

.main-title {
  font-size: 56px;
  line-height: 1.1;
  color: var(--hero-title-text-color);
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  text-align: center;
}

.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button {
  background: var(--Primary-Brand);
  color: var(--second-text-color);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  width: 169px;
  height: 56px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--Pressed-State);
}

/* _____OUR ADVANTAGES________ */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-advantages-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fetures-icon {
  fill: currentColor;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-background-color);
  border-radius: 4px;
  width: 264px;
  height: 112px;
}

.our-advantages-list .list-item:not(:last-child) {
  margin-right: 24px;
}

.our-advantages-list .list-title {
  font-size: 20px;
  width: 264px;
  line-height: 1.2;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}

.our-advantages-list .text {
  color: var(--title-text-color);
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;
}

/* ____WHAT-ARE-WE-DOING________ */
.our-work {
  padding-top: 0px;
}

.our-work-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-list .list-item:not(:last-child) {
  margin-right: 24px;
}

.our-work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}
/* _____OUR TEAM_______ */

.our-team {
  background: var(--second-background-color);
}

.our-team-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}

.our-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team-list .list-item:not(:last-child) {
  margin-right: 24px;
}

.our-team .list-item {
  background-color: var(--background-primary-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.our-team-list .list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;
  text-align: center;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.soc-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.soc-link {
  background-color: var(--Primary-Brand);
  fill: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--Pressed-State);
}

/* ______CUSTOMERS__________ */

.customer-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

.customer-list {
  display: flex;
  margin-top: 8px;
  gap: 24px;
}

.cust-list-item {
  display: flex;

  width: 168px;
  height: 88px;
}

.cust-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--Sabtle-Text);
  fill: var(--Sabtle-Text);
}

.cust-link:hover,
.cust-link:focus {
  fill: var(--Pressed-State);
  border: 1px solid var(--Pressed-State);
}

/* _____FOOTER_____ */

.footer {
  background: var(--hero-background);
  color: var(--second-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
}

.social-container {
  margin-left: 120px;
}

.footer .logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.footer .text {
  color: var(--Footer-text-color);
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;
}

.social-text {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-list-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--background-primary-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--Success);
  fill: var(--background-primary-color);
}

/*HTML page portfolio*/

/* ____FILTER-SECTION______ */

.filter-projects {
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filter-list .button {
  padding: 12px 24px;
  background: var(--second-background-color);
  color: var(--Primary-Brand);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 4px;
  border-radius: 4px;
}

.filter-list .button:hover,
.filter-list .button:focus {
  background: var(--Primary-Brand);
  color: var(--second-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-text-container {
  padding: 32px 16px;
  border-bottom: 1px solid var(--Footer-text-color);
  border-right: 1px solid var(--Footer-text-color);
  border-left: 1px solid var(--Footer-text-color);
}

.projects-list .list-item {
  margin-right: 24px;
  margin-bottom: 24px;
  width: calc((100% - 48px) / 3);
}

.projects-list .list-item:nth-child(3n) {
  margin-right: 0;
}

.projects-list .list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list .link {
  display: block;
  color: var(--primary-text-color);
  font-family: inherit;
}

.projects-list .link:hover,
.projects-list .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-list .list-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.projects-list .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */

  letter-spacing: 0.02em;
}
